.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #ff7e2d, #ef476f);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding removed */
}


.navbar-container {
  width: 100%;              
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;          
  margin: 0;               
}


.logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}


.logo-img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.logo-text {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-top: 3px;
}

.navbar-spacer {
  flex: 1;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding-top: 2px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.popup-btn button {
  background-color: white;
  color: #ef476f;
  border: none;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.popup-btn button:hover {
  background-color: #ffd8e1;
}
